@import "compass/css3";

.hbr-word {
  background: white;
  border: 1px solid #ddd;
}

.dice {
  text-align: center;
  li {
    background: white;
    border: 1px solid #555;
    display: inline-block;
    padding: 0.5em 1em;
  }
}
.word-count {
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  padding: 1em;
}
