<div class="btn-row row-fluid">
    <div class="btn-el" data-type="and">
        <label class="label">And</label>
        <h3><%- obj.playing[0].name %></h3>
        <%- obj.playing[0].words %>
    </div>
    <div class="btn-el" data-type="word">
        <label class="label">Word</label>
        <h3><%- obj.playing[1].name %></h3>
        <%- obj.playing[1].words %>
    </div>
    <div class="btn-el" data-type="but">
        <label class="label">But</label>
        <h3><%- obj.playing[2].name %></h3>
        <%- obj.playing[2].words %>
    </div>
</div>
<div class="row-fluid flex-space flex-container">
    <button class="btn btn-block btn-success" data-action="roll">Roll</button>
</div>
<div class="row-fluid flex-space flex-container">
    <button class="btn btn-block btn-primary" data-action="next" disabled="disabled">Done</button>
</div>
